.MuiFormLabel-root {
  transform: translate(14px, -12px) scale(0.75);
}
.MuiFormLabel-root, .MuiOutlinedInput-notchedOutline {
  font-size: 1.4em;
}
.action-button {
  cursor: pointer;
  padding: 5px 0 1px 0;
}

.form-button {
  padding: 15px 22px;
}