.header-footer-toolbar {
  display: flex;
  justify-content: space-around;
}

.footer {
  min-height: 30px!important;
}

.copyright {
  color: white;
  font-size: 14px!important;
}

.header-logo img {
  padding-top: 8px;
}

.header-logo span {
  position: relative;
  top: -10px;
  left: 10px;
}